<html>
<head>
</head>

<style>
body {background-color: black}
h1 {color:lightgrey; text-shadow: 2px 4px 3px darkgrey}

button {
	color: blue;
	background:darkgrey;
	border: 1px solid #000;
	border-radius: 8px;
	position: center;
}

</style>

<body>

<div style="text-align:center">

<h1> RachelBot Control </h1>
<br><br>
<br><br>

<!--
><button style="height: 50px; width: 100px" onclick="lighton()"><img style="height: 40px"src="/static/images/lighton.png"></button>
<img hspace="20" style="padding-left: 200px">
<button style="height: 50px; width: 100px" onclick="lightoff()"><img style="height: 35px"src="/static/images/lightoff.png"></button>
<br><br>
-->

<span style="display:inline-block;padding:5px; font-size: 140%;font-weight: bold;">
	<br>
	<button style="height: 75px; width: 75px" onclick="location.href='/forward/';"><img style="height: 65px"src="/static/images/forward.png"></button>
	<br><br><br><br>
	<img hspace="10" style="padding-left: 5px">
	<button style="height: 75px; width: 75px" onclick="location.href='/left/';"><img style="height: 65px"src="/static/images/left.png"></button>
	<img hspace="20" style="padding-left: 10px">
	<button style="height: 75px; width: 75px" onclick="location.href='/stop/';"><img style="height: 63px"src="/static/images/stop.png"></button>
	<img hspace="20" style="padding-left: 10px">
	<button style="height: 75px; width: 75px" onclick="location.href='/right/';"><img style="height: 65px"src="/static/images/right.png"></button>
	<img hspace="10" style="padding-left: 5px">
	<br><br><br><br>
	<button style="height: 75px; width: 75px" onclick="location.href='/reverse/';"><img style="height: 65px"src="/static/images/reverse.png"></button>
	<br><br><br>

</span>
<br><br>

